.stApp {
  background-color:white;
  margin: 0 auto;
  max-width: 700px; /* Or whatever max-width fits your design */
  width: 100%;
  padding: 20px; /* Add padding if needed */
  height: auto;
  border-radius: 15px;
  border: 2px  solid #DCDCDC	;
}



.chat-container {
  max-width: 700px;
  margin: auto;
}

.user-bubble {
  background-color: #B0C4DE;
  color: black;
  border-radius: 20px;
  padding: 10px;
  margin: 10px;
  text-align: right;
  max-width: 80%;
  float: right;
  clear: both;
}

.assistant-bubble {
  background-color:#D3D3D3	;
  color: black;
  border-radius: 20px;
  padding: 10px;
  margin: 10px;
  text-align: left;
  max-width: 80%;
  float: left;
  clear: both;
}

.chat-input {
  padding: 15px;
  border-radius: 10px;
  border: 1px solid #ccc;
  width: calc(100% - 40px);
  box-sizing: border-box;
}

.chat-submit {
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  width: 100%;
}

.logo {
  width: 150px; /* Adjust size as needed */
  height: auto; /* Maintain aspect ratio */
  border-radius: 50%; /* Circular logo */
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.2); /* Subtle shadow */
  display: block; /* Ensure it’s treated as a block element */
  margin: 20px auto; 
}

.logo-container {
  text-align: center; /* Center align logo and other content */
}
.centered-title {
  text-align: center;
  font-size: 36px;
  font-weight: bold;
}

.centered-title1 {
  text-align: left;
  font-size: 25px;
  color: 	#696969;
  font-weight:200;
  font-family: Copperplate, Papyrus, fantasy;
  margin: 10px 0;
}

.streamlit-chat-input {
  background-color: #f1f1f1;
  border-radius: 10px;
  padding: 15px;
  margin-top: 20px;
  width: 100%;
  font-size: 18px;
}
